<ion-content [fullscreen]="true">
  <app-head [view]="'Leaderboard'"></app-head>
  <div class="m-wrap pad">
    <div class="profile">
      <div class="pos"><ion-img src="assets/img/badge.png"></ion-img></div>
      <div class="desc">
        <ion-avatar><ion-img src="assets/img/girl.jpg"></ion-img></ion-avatar>
        <span>
          <h4>Henritta Offa</h4>
          <small>West Hills Shoprite</small>
        </span>
      </div>
      <div class="pts"><small>205 pts</small></div>
    </div>
    <div class="profile">
      <div class="pos"><small>2</small></div>
      <div class="desc">
        <ion-avatar><ion-img src="assets/img/w1.webp"></ion-img></ion-avatar>
        <span>
          <h4>Karen A. Kay</h4>
          <small>Accra mall</small>
        </span>
      </div>
      <div class="pts"><small>202 pts</small></div>
    </div>
    <div class="profile">
      <div class="pos"><small>3</small></div>
      <div class="desc">
        <ion-avatar><ion-img src="assets/img/w2.jpeg"></ion-img></ion-avatar>
        <span>
          <h4>Alice Kimberly</h4>
          <small>West Hills Shoprite</small>
        </span>
      </div>
      <div class="pts"><small>171 pts</small></div>
    </div>
    <div class="profile">
      <div class="pos"><small>4</small></div>
      <div class="desc">
        <ion-avatar><ion-img src="assets/img/w3.jpg"></ion-img></ion-avatar>
        <span>
          <h4>Dorothy Manu</h4>
          <small>West Hills Shoprite</small>
        </span>
      </div>
      <div class="pts"><small>139 pts</small></div>
    </div>
    <div class="profile">
      <div class="pos"><small>5</small></div>
      <div class="desc">
        <ion-avatar><ion-img src="assets/img/w4.jpg"></ion-img></ion-avatar>
        <span>
          <h4>Beatrice Aidoo</h4>
          <small>Achimota Retail Centre</small>
        </span>
      </div>
      <div class="pts"><small>136 pts</small></div>
    </div>
    <div class="profile">
      <div class="pos"><small>6</small></div>
      <div class="desc">
        <ion-avatar><ion-img src="assets/img/w5.jpg"></ion-img></ion-avatar>
        <span>
          <h4>Kelly B. Kobbie</h4>
          <small>West Hills Shoprite</small>
        </span>
      </div>
      <div class="pts"><small>104 pts</small></div>
    </div>
    <div class="profile">
      <div class="pos"><small>7</small></div>
      <div class="desc">
        <ion-avatar><ion-img src="assets/img/w6.jpg"></ion-img></ion-avatar>
        <span>
          <h4>Aba Badu</h4>
          <small>Takoradi Mall</small>
        </span>
      </div>
      <div class="pts"><small>95 pts</small></div>
    </div>
  </div>
</ion-content>
