<ion-content [fullscreen]="true">
  <app-inner-head [pageTitle]="'Horlicks malt drink'"></app-inner-head>
  <div class="pad analytics">
    <div class="an-card ji">
      <div class="te">
        <small>Total sales</small>
        <ion-icon name="cash"></ion-icon>
      </div>
      <div class="ht" style="padding: 0;">
        <h4>GHS 2.8k</h4>
        <small class="ri"><ion-icon name="information-circle-outline"></ion-icon>amount sold</small>
      </div>
    </div>
    <div class="an-card">
      <div class="te">
        <small>Total sold</small>
        <ion-icon name="pie-chart"></ion-icon>
      </div>
      <div class="ht" style="padding: 0;">
        <h4>253</h4>
        <small class="ri"><ion-icon name="information-circle-outline"></ion-icon>units sold</small>
      </div>
    </div>
    <div class="an-card">
      <div class="te">
        <small>Inventory</small>
        <ion-icon name="layers"></ion-icon>
      </div>
      <div class="ht" style="padding: 0;">
        <h4>25</h4>
        <small class="ri"><ion-icon name="information-circle-outline"></ion-icon>units left</small>
      </div>
    </div>
  </div>
  <div class="img" hidden>
    <ion-img src="assets/img/horlicksr.jpg"></ion-img>
  </div>
</ion-content>
